#review * {
	margin: 0;
	padding: 0;
} 

#review body {
	margin: 2%;
	padding: 0;
	width: 96%;
	
}

#review {
	margin: 0.8em 0 1.6em;
	font-family: 'Trebuchet MS','Lucida Grande',Verdana,Arial,Sans-Serif;
    padding: 8px !important;
	font-size: 14px;
}

#review .formset {
	font-size: 16px;
	font-weight: bold;
	background-color:#000;
	color: #FFF;
	padding: .75em;
	-moz-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	margin-top: 0.8em;
}

#review .grey {
	opacity: .5; /*Lab info greyed out */
}

#review .divider {
	page-break-before: auto;
}

#review .divider-dcornot {
	page-break-before: avoid;
}

#review .failedattempt {
    page-break-before: avoid;
    page-break-after:avoid;
}

#review .form {
	display: block;
    margin: 0.75em;
    padding: .5em;
	border: 1px solid #ccc;
	-moz-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	background-color: #eee;
}

#review .fieldset {
	font-size: 12px;
	font-weight: bold;
	display: block;
	margin: 2px;
	padding-bottom: 7px;
	page-break-inside: avoid;
}

#review span.fscaption {
    display: block;
    float: left;
    margin: 0;
    min-width: 20em;
    padding: 0 2px 0 0;
}

#review span.mccaption {
    min-width: 15em;
    display: inline-block;
}

#review span.fscaption.last:after, #review span.fstitle:after, #review .textarea span.caption.last:after{
    content:"\a";
    white-space: pre;
}


#review .failedattempt .form, #review .afteract .form {
	display: block;
	margin: 0.75em;
	padding: 0em 0em 0em;
	border: 1px solid #ccc;
	-moz-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	background-color: #eee;
}


#review .failedattempt .formset, #review .afteract .formset {
	font-size: 20px;
	font-weight: bold;
	background-color: #000;
	color: #FFF;
	padding: .75em;
	-moz-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
	margin: 0em 0em .5em;
}

#review .failedattempt .fieldset, #review .afteract .fieldset {
	font-size: 16px;
	font-weight: bold;
	display: block;
	margin: 2px;
	padding: .5em;
	page-break-inside: avoid;
}

#review .content, #review .dcorbl .fstitle {
    font-weight: normal;
}

#review ul, #review li {
	margin: .5em 1em;
}

/*#review .caption {*/
/*	display: block;*/
/*    float: left;*/
/*    margin: 0;*/
/*    min-width: 13em;*/
/*    padding: 0 2px 0 0;*/
/*	font-weight: bold;*/
/*	color: #000080;*/
/*	border-bottom: none;*/
/*}*/

#review h1{
    font-size: 12px !important;
    font-weight: bold !important;
}

#review li{
    font-size: 10px !important;
    font-weight: normal !important;
}

#review .caption {
	display: block;
    float: left;
    margin: 0;
    min-width: 20em;
    padding: 0 2px 0 0;
	font-weight: normal;
	border-bottom: none;
}

#review .value {
    font-weight: bold;
    display: inline-block;
}


#review .labform {
	padding: 5px;
	background-color: #AAA;
}

#review .signaturepad img {
	border: solid 1px #000;
}

.x-template svg path {
     fill:none;stroke:rgb(100,100,100);stroke-width:5;
}


/* Clear floats on every new form. */
.dcrnot, .dcorai, .dcorls, .dcorcs, .finalize, .part, .dou, .ct, .labinfo {
	clear:both;
}

.x-tab-inner-navigation {font: bold 12px/14px 'Open Sans', helvetica, arial, verdana, sans-serif !important;}
.x-tab-icon-el-navigation {min-height: 12px !important; font-size: 12px !important; line-height: 14px !important;}
.x-tab-button-navigation {height: 20px !important;}
.x-tab-navigation-left {padding: 10px 10px 10px 10px !important;}


/*  Notification and Arrival */

/**/
/*.ap-Notification-output {*/
/*	width: 40%; float: left; margin-right: 9%;*/
/*}*/
/**/
/*.ap-Arrival-output {*/
/*	width: 40%; float: left;*/
/*}*/
/**/
/*.ap-locationfs-output, .ap-ChaperoneFieldSet-output {*/
/*	clear: both;*/
/*}*/


/* Athlete Information */

/*.ap-AthleteInformationPart1-output {*/
/*	height: 200px;*/
/*}*/
/**/
/*.ap-AthleteInformationPart2-output {*/
/*	height: 220px;*/
/*	clear: both;*/
/*}*/

/*.ap-AthleteInfoLeftColumn-output {*/
/*	width: 50%; float: left; margin-right: 9%;*/
/*}*/
/**/
/*.ap-AthleteInfoRightColumn-output {*/
/*	width: 50%; float: right;*/
/*}*/


/* Lab/Sample Information */

/*.ap-LabInformationPart1-output {*/
/*	height: 100px;*/
/*}*/
/**/
/*.ap-LabInformationPart2-output {*/
/*	height: 160px;*/
/*	clear: both;*/
/*	*/
/*}*/
/**/
/*.ap-LabInfoLeftColumn-output {*/
/*	width: 50%; float: left; margin-right: 9%;*/
/*}*/
/**/
/*.ap-LabInfoRightColumn-output {*/
/*	width: 50%; float: right;*/
/*}*/



/* Urine /*
/*.ap-dcorur-output {*/
/*	width: 45%; float: left; margin-right: 2.5%;*/
/*}*/
/**/
/**/
/* Blood */
/*.ap-dcorbl-output {*/
/*	width: 45%; float: right;*/
/*}*/

/* Partial Sample */


/* Declaration of Use */
/**/
/*.ap-ConfirmDeclaration-output {*/
/*	float: right;*/
/*}*/
/**/
/* Comments */
/**/
/* Research Consent */
/**/
/*.ap-AcceptTerms-output {*/
/*	float: right;*/
/*}*/


/* Signatures */
.x-template svg {transform:scale(.5); -webkit-transform:scale(0.5); -moz-transform:scale(0.5); -ms-transform:scale(0.5); -o-transform:scale(0.5); height: 100px !important;}
.x-template svg {height: 50px; width: 225px;}


/*.ap-FinalizeLeftColumn-output {*/
/*	width: 50%; float: left; margin-right: 9%;*/
/*}*/
/**/
/*.ap-FinalizeRightColumn-output {*/
/*	width: 50%; float: right;*/
/*}*/

.FinalDCOSignatureFieldSet {
	clear: both;
}

/* Online Status Indicators */
.offline .x-btn-icon-el-default-toolbar-small {
    color: #F00;
}

.online .x-btn-icon-el-default-toolbar-small {
    color: #0F0;
}

.safemode .x-btn-icon-el-default-toolbar-small {
    color: #FF0;
}
